body {
}
                                                        
.shown {
  display: inherit;
}

.hidden {
  display: none;
}




#article a {
 /* desactive les liens */

}



                                                        /* panel */

.ui-content.ui-scrollview-clip > div.ui-scrollview-view {
  margin: 0;
  padding-left: 0rem;
  padding-right: 0rem;
}

.ui-tabbar a.ui-btn .ui-icon {
  width: 1rem;
  height: 1.4545454545454546rem;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: 0.4rem; margin-left: -0.6rem;
}

#content-search {

}

div.ui-select {
  text-align: center;
}

#page-home {
  overflow: hidden;
}

                                                          



                                                          /* map */

html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
#map-canvas { height: 100%; width: 100%; z-index: 1; position: fixed; top: 0px; left: 0px;}

#map {
  overflow:hidden;
}

#carte {
  overflow: hidden;
}

#page-home {
  overflow: hidden;
}

.ui-content {
  border-width: 0;
  overflow: hidden;
  overflow-x: hidden;
  padding: 0px;
}

/* search */

#search-list > li {
  background-color: white;
  padding-left: 2em;
}

.listview-overriden > li{
    border-top: #d3d1cb 1px solid;
    padding-left: 0.4rem;
}

.ui-li {
  font-size: 0.75rem;
}






                                                  /* detail */

#content-detail {
  color: black;
}

#footer1 {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

#station-desc {
  width: 300px;
  margin: 0 auto;

}

#station-desc-text {
  display: inline-block;
  left: 50px;
  position: relative;
  max-width: 250px;
  
}

.station-bottom {
  position: absolute;
  bottom:40px;
}

.pin {
  width: 12%;
  position: absolute;
  top: 50px;
  margin-right: 5px;
 
}

#station-closed {
  height: 180px;
  display: none;
  
}

#station-closed p {
  margin-left: 150px;
  margin-top: 68px;
  font-size: 0.9rem;
}

.colored-btn {
  background-repeat:no-repeat;
  width: 270px;
  height: 91px;
  background-size: 300px 100%; 
  margin-left: 30px;
  margin-right: 30px;
  padding: 1px;
  margin-bottom: 3px;
}


.colored-btn p.text{
  font-size: 0.8rem;
  margin: 0;
  display: inline-block;
  width: 50px;
  margin-top: 23px;
}

.colored-btn p.number {
  font-size: 2rem;
  margin: 0;
  display: inline-block;
  margin-left: 20px;
}


.favs-btn {
  font-size : 0.6rem;
  background-color: rgba(0,0,0,0.2);
  width: 300px;
  
  padding: 0.01rem;
  margin-bottom: 8px;
  margin-top: 10px;
  
}

.favs-btn p{
  margin-left: 15px;  
  display: inline-block;
}

#itineraire p{ 
  margin-left: 15px;
  display: inline-block;
}

#itineraire {
  font-size : 0.6rem;
  background-color: rgba(0,0,0,0.2);
  width: 300px;
  padding: 0.01rem;
  
}

.icon{
 width: 20px;
 position: relative;
 left: 10px;
}

.icon.fav{
 top: 5px;
}

.icon.nav {
 top: 8px;
}


p.updated {
  font-size: 0.42rem;
  position: relative;
  margin-left: 34px;
  margin-bottom: 0;
}


p.station-num {
   font-size: 1.3rem;
   margin-bottom: 10px;
}

p.station-name {
   font-size: 0.6rem;
   margin: 0;
}

p.station-adress {
   font-size: 0.6rem;
   width: 200px;
   margin: 0;
   
}



                                                    /* fav list */

#favs-list > li {
  background-color: white !important;
}



.fav-numbers{
  display: inline-block;
  position: relative;
  top: 5px;
}

.fav-indicator .count{
  width: 30px;
  display: inline;
  position: relative;
  left: 9px;
  top: -26px;
  color: black;
}

.fav-indicator {
  display: inline-block;
  width: 60px;
  height: 31px;
  margin-left: 3px;
}

.fav-indicator .counter {
  color: black;
}

.fav-name{
    width: 205px;
    display: inline-block;
    font-size: 0.73rem;
}

.fav-indicator .free{
  
}

.fav-indicator.close {
  display: none;
}

.fav-indicator .available {

}

.fav-indicator img { 
  width: 60px;
  height: 31px;
}

.favs-empty {
  width : 100%;
  text-align: center;
  position: relative;
  padding-top: 2rem;

}

.favs-empty img {
  width : 25%;
}

.no-favs {
 font-size: 0.65rem;
 color: rgb(205,205,205);
 margin: 0;
 color: black ;
}

                                                    /* lists */

.listview-overriden  a {
  font-size: 0.75rem;
}

.item-wrapper {
  line-height: 0.8rem;
  height: 0.8rem;
  white-space: nowrap;
  
}

.btn-detail{
 line-height: 0.8rem;
}


                                                      /* other */

#content-other { 
  background-color : rgb(237,235,228);
}

.ticket-choose {


}

.ticket-choose ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: rgb(0, 161, 219) !important;
}

img.ticket {
  width: 40%;
  position: relative;
  margin-left: 50px;
  margin-top: 20px;
}

p.achat-ticket {
  font-size: 0.65rem;
  text-align: center;
 
}

p.duree{
 font-size: 1.1rem;
  text-align: center;
  margin: 0;
  

}

#ticket7 {
 border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #d3d1cb;
  width: 49%;
}

#ticket1 {
  width: 49%;
}

.lang {
  color: rgb(0, 161, 219);
  border-bottom-width: 1px;
 border-bottom-style: solid;
 border-bottom-color: #d3d1cb;
}

.lang ul{
  list-style:none;
  padding: 17px;;
  margin: 0;
}

.actualite {
  background-color: rgb(0, 161, 219);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(201,225,234);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgb(201,225,234);
  margin-top: 20px;
  color: white;
}

.actualite-text {
  display: inline-block;
  margin-top: 25px;
  margin-left: 15px;
}

p.sub-actu {
    font-size: 0.7rem;
    margin: 0;
}

p.heading {
  margin: 0;
  margin-bottom: 5px;
  display: inline-block;
  width: 80px;
  
}

.bullhorn {
  background-image: url('../assets/bullhorn.png');
  background-position: center bottom; 
  height: 90px;
  
  background-repeat: no-repeat;
  background-size: 30%;
  color: white;
}
.follow {
 padding: 17px;
 padding-right: 0;
 color: rgb(0, 161, 219);
 border-bottom-width: 1px;
 border-bottom-style: solid;
 border-bottom-color: #d3d1cb;
}

.follow-sites {
  display: inline;
  margin-left: 15px;
}

img.follow-icon {
  width: 10%;
  margin-left: 2px;
  margin-right: 5px;

}
 






                                                        /* sections tabs */

#navbar-sections {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
}

.section-btn {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.sections-tab {
  text-align: center ;
  font-size: 0.5rem ;
  font-weight: bold ;
  background-color: rgb(115, 115, 115);
  width: 100% ;
  list-style-type: none ;

  padding-top: 0.3rem ;
  padding-bottom: 0.3rem ;
}

.sections-tab-active {
  text-align: center ;
  font-size: 0.5rem ;
  font-weight: bold ;
  background-color: #4a4e54;
  width: 100% ;
  list-style-type: none ;

  padding-top: 0.3rem ;
  padding-bottom: 0.3rem ;
}

ul.sections-tab {
  padding: 0px ;
}

ul.ui-grid-a.sections-tab{
  margin-top: 0 ;
  margin-bottom: 0 ;
  

}

li.ui-block-a.sections-tab, li.ui-block-b.sections-tab{
  padding-top: 20px ;
  padding-bottom: 20px ;
  font-weight: normal ;
}

li.sections-tab-active.ui-block-a, li.sections-tab-active.ui-block-b{
  /*background-color: rgb(60,64,69) ;*/
  padding-top: 20px ;
  padding-bottom: 20px ;
  font-weight: normal ;
}


.sections-tab .ui-link {
  color: white !important;
  font-weight: normal ;
  text-decoration: none ;
}

.sections-tab .ui-link:hover {
  color:rgb(21,24,28) ;
}
.sections-tab .ui-link:active {
  color: rgb(21,24,28) ;
}
.sections-tab .ui-link:visited {
  color:rgb(21,24,28) ;
}

.sections-tab .sections-tab-active {
  background-color: rgb(0, 154, 218);
  color: white ;
}

.sections-tab .sections-tab-active .ui-link:hover {
  color: white ;
}

.sections-tab .sections-tab-active .ui-link:active{
  color: white ;
}

.sections-tab .sections-tab-active .ui-link:visited {
  color: white ;
}

.section-icon {
    margin-left: -1.8rem !important;
    margin-top: -0.3rem !important;
    width: 1.5rem !important;
    height: 1rem !important;
    position: relative;
    margin-right: 1rem;
    
}

.section-txt {
  margin: 0;
  width: 110px;
  margin-left: 50px;
}








                                                            /* icons */


.ui-header.ui-bar-s.ui-title-tabbar-multiline .ui-tabbar a.ui-btn .ui-btn-inner .ui-icon {
  top: 0.181818rem !important;
}


.ui-icon-map-tab {
  background-image: url("../assets/btn_map.png") no-repeat !important;
}
.ui-icon-search-tab {
  background-image: url("../assets/btn_search.png") no-repeat !important;
}
.ui-icon-favs-tab {
  background-image: url("../assets/btn_favorite.png") no-repeat !important;
}
.ui-icon-other-tab {
  background-image: url("../assets/btn_other.png") no-repeat !important;
}



.ui-icon-map-tab:active,   .ui-icon-map-tab-active {
  background-image: url("../assets/btn_map_active.png")  no-repeat !important;
}
.ui-icon-search-tab:active, .ui-icon-search-tab-active {
  background-image: url("../assets/btn_search_active.png") no-repeat !important;
}
.ui-icon-favs-tab:active,  .ui-icon-favs-tab-active {
  background-image: url("../assets/btn_favorite_active.png") no-repeat !important;
}
.ui-icon-other-tab:active, .ui-icon-other-tab-active  {
  background-image: url("../assets/btn_other_active.png") no-repeat !important;
}




                                                        




                                                        /* TIZEN THEME OVERRIDE */


.ui-li-thumb.info-icon,
.ui-li-icon.info-icon {
  position: absolute;
  left: 6px;
  top: 25px;
  max-height: none;
  max-width: none;
}



.ui-listview li.ui-btn-up-s,
.ui-listview li.ui-btn-hover-s {
  background: none;
  background-color: white;
  color: #000000;
  box-shadow: none;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}


.ui-mobile,
.ui-mobile .ui-page {
  background: white;
  color: #000000;
}


.ui-field-contain:first-child { border-top-width: 0; }
@media all {
	.ui-field-contain { 
	border-width: 0; 
	padding: 0; 
	margin: 0; }
}

label, span.ui-controlgroup-last, span.ui-btn-inner.ui-btn-hastxt.ui-corner-top {
  background: rgb(237,235,228) !important ;
}



.ui-controlgroup,
fieldset.ui-controlgroup {
  padding: 0;
  margin: 0;
}


span.ui-btn-text.ui-btn-text-padding-left, span.ui-btn-text.ui-btn-text-padding-right{
 color: rgb(0, 161, 219) !important;
}

.ui-body-s .ui-link {
  /* ui-body-link */

  color: rgb(0, 161, 219);
  font-weight: normal;
}


.ui-tabbar a.ui-btn .ui-btn-inner {
  padding-top: 0px;
  padding-bottom: 0px;
  border-left: 0px solid !important;
  border-color: #8a8a8a;
  border-radius: 0px;
  -0-border-radius: 0px;
  -ms-border-radius: 0px;
  -webkit-border-radius: 0px;
}


.ui-screen-hidden, .ui-selectmenu-list .ui-li .ui-icon { display: none; !important }


.listview-overriden {
  margin-left: -0.36363636363636365rem;
  margin-right: -0.36363636363636365rem;
  padding-bottom: 1px;
  list-style: none;
  padding: 0;
  font-size: 1rem;
  margin: 0;
  counter-reset: listnumbering;
  border-top-color: #d3d1cb;
  /* listview: fonts for li with a link */

}

.ui-link-inherit {
  color: black !important;
}