<!DOCTYPE html>
<html>
 <head> 
  <meta charset="utf-8" /> 
  <meta name="description" content="" /> 
  <meta name="viewport" content="width=device-width,user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <title>Velib BackboneJS</title> 
 
<!-- Jquery  -->

  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.1/jquery.mobile-1.4.1.min.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.4.1/jquery.mobile-1.4.1.min.js"></script>

<!-- Backbone  -->
  <script type="text/javascript" src="./js/lib/underscore.js"></script> 
  <script type="text/javascript" src="./js/lib/backbone.js"></script> 
  <script type="text/javascript" src="./js/lib/backbone.localStorage.js"></script> 
  
<!-- App  -->
  <script type="text/javascript" src="./js/app/main.js"></script> 
  <script type="text/javascript" src="./js/app/core.js"></script>
  <script type="text/javascript" src="./js/app/samples.js"></script>  
  <script type="text/javascript" src="./js/lib/listFilter.js"></script> 
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true"></script> 
  <script type="text/javascript" src="./js/app/App.js"></script> 
  <script type="text/javascript" src="./js/app/App.Map.js"></script> 
  <script type="text/javascript" src="./js/app/App.Models.Station.js"></script> 
  <script type="text/javascript" src="./js/app/App.Models.StationMini.js"></script> 
  <script type="text/javascript" src="./js/app/App.Collections.Stations.js"></script> 
  <script type="text/javascript" src="./js/app/App.Collections.Faved.js"></script> 
  <script type="text/javascript" src="./js/app/App.Collections.Markers.js"></script> 
  <script type="text/javascript" src="./js/app/App.Views.SearchItem.js"></script> 
  <script type="text/javascript" src="./js/app/App.Views.Fav.js"></script> 
  <script type="text/javascript" src="./js/app/App.Views.Marker.js"></script> 
  <script type="text/javascript" src="./js/app/App.Views.SearchList.js"></script> 
  <script type="text/javascript" src="./js/app/App.Views.Favs.js"></script> 
  <script type="text/javascript" src="./js/app/App.Views.Markers.js"></script> 
  <script type="text/javascript" src="./js/app/App.Views.Detail.js"></script> 
  

  <script id="stationSearchTmpbyName" type="text/template">
          <div class="ui-btn-inner ui-btn-hastxt ui-li">
            <div class="ui-btn-text">
                  <a tabindex="0" role="" href="#page-detail" class="btn-detail ui-link-inherit">
                    <%= name.substring(8,name.length) %>
                  </a>
            </div>
          </div>
        
    </script> 
  <script id="stationSearchTmpbyAddress" type="text/template">
          <div class="ui-btn-inner ui-btn-hastxt ui-li">
            <div class="ui-btn-text">
                  <a tabindex="0" role="" href="#page-detail" class="btn-detail ui-link-inherit">
                      <%= address %>
                  </a>
              </div>
          </div>

    </script> 
  <script id="stationFavTmp" type="text/template">
  <a tabindex="0" role="" href="#page-detail" class="btn-detail ui-link-inherit">
          <div class="ui-btn-inner ui-btn-hastxt ui-li">
            <div class="ui-btn-text">
                    <div class="fav-name"><%= name.substring(8,name.length) %></div>
                      <div class="fav-numbers">
                        <div class="fav-indicator free"><div class="count"><%= available_bikes %></div></div> 
                        <div class="fav-indicator available"><div class="count"><%= available_bike_stands %></div></div>
                        <div class="fav-indicator close"></div> 
                      </div>
                  
              </div>
          </div>
        </a>

    </script> 
  <script id="stationDetailTmp" type="text/template">
        <div id="station-desc">
              <div id="station-desc-text">
                  <p class="station-num">STATION N°<%= number %></p>
                  <p class="station-name"><%= name.substring(8,name.length) %></p>
                  <p class="station-adress"><%= address %></p>
              </div>
            
                <p class="updated">STATION UPDATED ON : <%= updated %></p>

                <div id="velos-disp" class="colored-btn">
                  <p class="number"><%= available_bikes %></p>
                  <p class="text">AVAILABLE BIKES</p>
                </div>

                <div id="places-disp" class="colored-btn">
                  <p class="number"><%= available_bike_stands %></p>
                  <p class="text">AVAILABLE STANDS</p>
                </div>

                <div id="station-closed" class="colored-btn">
                   <p class="text">STATION CLOSED</p>
                </div>

                <div id="add-favs" class="shown favs-btn" onclick="displayRemoveFav();">
                  <p>ADD TO FAVORITES </p>
                </div>

                <div id="remove-favs" class="hidden favs-btn" onclick="displayAddFav();">
                  <p>REMOVE FROM FAVORITES </p>
                </div>

                <div id="itineraire">
                  <p>ITINERARY</p>
                </div>
                <div id="close-station-detail"></div>
            </div>
    </script> 
  
  <link rel="stylesheet" type="text/css" href="./css/app.css" /> 
 </head> 

 <body> 
  <div data-role="page" id="page-home" data-dom-cache="false" data-title="" data-ajax="false"> 

   <div data-role="panel" id="options-panel">
      
    </div><!-- /panel -->


   <div data-role="header" id="header-home" data-position="fixed"> 
    <!-- navbar  --> 
    <div data-role="navbar" id="navbar-categories"> 
     <ul> 
      <li> <a id="navbaritem3" href="#page-home" class="" data-icon="navigation">MAP</a> </li> 
      <li> <a id="navbaritem2" href="#page-search" class="" data-icon="search">SEARCH</a> </li> 
      <li> <a id="navbaritem4" href="#page-favs" class="" data-icon="star">FAVORITES</a> </li> 
     </ul> 
    </div> 
     
    <select id="secteur"> <option value="1">1er Arr.</option> <option value="2">2e Arr.</option> <option value="3">3e Arr.</option> <option value="4">4e Arr.</option> <option value="5">5e Arr.</option> <option value="6">6e Arr.</option> <option value="7">7e Arr.</option> <option value="8">8e Arr.</option> <option value="9">9e Arr.</option> <option value="10">10e Arr.</option> <option value="11">11e Arr.</option> <option value="12">12e Arr.</option> <option value="13">13e Arr.</option> <option value="14">14e Arr.</option> <option value="15">15e Arr.</option> <option value="16">16e Arr.</option> <option value="17">17e Arr.</option> <option value="18">18e Arr.</option> <option value="19">19e Arr.</option> <option value="20">20e Arr.</option>  </select> 
   </div> 
   <div id="content-home" class="actu" data-role="content" data-scroll="none"> 
    <!-- Sections navbar --> 
    <div id="carte" style=""> 
     <div id="map" style="" data-load="resizeMap"></div> 
    </div> 
   </div>
   <div id="navbar-sections" data-role="navbar">
        <ul>
            <li id="btn-prendre" ><a href="#" class="ui-btn-active section-btn">RELEASE BIKE</a></li>
            <li id="btn-deposer" ><a href="#" class="section-btn" >RETURN BIKE</a></li>
        </ul>
    </div> 
  </div> 
  <!-- Page SEARCH --> 
  <div data-role="page" id="page-search" data-dom-cache="false" data-title=""> 
   <div id="spinner" data-role="popup" class="center_info"> 
    <div class="ui-popup-text"> 
     <div data-role="progress" data-style="circle"></div> 
    </div> 
   </div> 
   <div data-role="header" id="header-home" data-position="fixed"> 
    <!-- navbar  --> 
    <div data-role="navbar" id="navbar-categories"> 
     <ul> 
      <li> <a id="navbaritem3" href="#page-home " class="" data-icon="navigation">MAP</a> </li> 
      <li> <a id="navbaritem2" href="#page-search" class="" data-icon="search">SEARCH</a> </li> 
      <li> <a id="navbaritem4" href="#page-favs" class="" data-icon="star">FAVORITES</a> </li> 
     </ul> 
    </div>
    <!-- <input type="search" name="search" id="search-basic" value="" />  -->
   </div> 
   <div id="content-search" data-role="content"> 
    <ul id="search-list" class="" data-role="listview" data-filter="true" data-fastscroll="true"> 
    </ul> 
   </div>  
  </div> 


  <!-- Page FAVS --> 
  <div data-role="page" id="page-favs" data-dom-cache="false" data-title=""> 
   <div data-role="header" id="header-favs" data-position="fixed"> 
    <!-- navbar  --> 
    <div data-role="navbar" id="navbar-categories"> 
     <ul> 
      <li> <a id="navbaritem3" href="#page-home" class="" data-icon="navigation">MAP</a> </li> 
      <li> <a id="navbaritem2" href="#page-search" class="" data-icon="search">SEARCH</a> </li> 
      <li> <a id="navbaritem4" href="#page-favs" class="" data-icon="star">FAVORITES</a> </li> 
     </ul> 
    </div>
   </div> 
   <div id="content-favs" data-role="content"> 
    <div id="favs-empty" class="favs-empty"> 
     <p class="no-favs">NO FAVORITES FOR <br> THE MOMENT</p> 
    </div> 
    <ul id="favs-list" data-role="listview"> 
    </ul> 
   </div>  
  </div> 
  
  
 
  <!-- Page DETAIL --> 
  <div data-role="page" id="page-detail" data-dom-cache="false" data-title=""> 
   <div id="content-detail" data-role="content"> 
    <div id="station-detail"> 
     <div id="station-desc"> 
      <div id="station-desc-text"> 
       <p class="station-num"></p> 
       <p class="station-name"></p> 
       <p class="station-adress"></p> 
      </div> 
    
      <p class="updated">STATION UPDATED ON :</p> 
      <div id="velos-disp" class="colored-btn"> 
       <p class="number"></p> 
       <p class="text">AVAILIBLE BIKES</p> 
      </div> 
      <div id="places-disp" class="colored-btn"> 
       <p class="number"></p> 
       <p class="text">AVAILIBLE STANDS</p> 
      </div> 
      <div id="station-closed" class="colored-btn"> 
       <p class="text">STATION CLOSED</p> 
      </div> 
      <div id="add-favs" class="shown favs-btn" onclick="displayRemoveFav();"> 
       <p>ADD TO FAVORITES </p> 
      </div> 
      <div id="remove-favs" class="hidden favs-btn" onclick="displayAddFav();">   
       <p>REMOVE FROM FAVORITES </p> 
      </div> 
      <div id="itineraire"> 
       <p>ITINERARY</p> 
      </div> 
      <div id="close-station-detail"></div> 
     </div> 
    </div> 
   </div> 
   <!-- Footer  --> 
   <div data-role="footer" class="footerBar" id="footer1"> 
    <a id="close-detail" role="button" data-icon="header-back-btn" data-wrapperels="span" data-iconshadow="true" data-shadow="true" data-corners="false" data-theme="s" href="" class="exit-btn ui-btn-back ui-btn ui-shadow ui-btn-icon_only ui-btn-icon-left ui-footer-btn-border ui-btn-up-s" data-rel="back" onclick="closeTrick('close-station-detail');"> <span class="ui-btn-inner ui-btn-icon-only"> <span class="ui-btn-text">Back</span> <span class="ui-icon ui-icon-header-back-btn ui-icon-shadow">&nbsp;</span> </span> </a> 
    
   </div> 
  </div>  
 </body>
</html>